<div class="container"  ng-show="logged">
  <nav class="navbar navbar-default yellowBackground noRadius">
  <div class="container-fluid noRadius">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header noRadius">
      <button type="button" class="navbar-toggle collapsed noRadius" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand colorWhiteBold holdImg"><img src="./img/logo1.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav noRadius">
        <li><a href="#/login" class="colorWhiteBold">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
      </ul>
      <ul class="nav navbar-nav noRadius">
        <li><a href="#/drivers/invoices" class="colorWhiteBold">Invoices <span class="glyphicon glyphicon-file" aria-hidden="true"></span></a></li>
      </ul>
      <ul class="nav navbar-nav noRadius colorWhiteBold">
        <li><a href="#/drivers/status" class="colorWhiteBold">Status <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right noRadius colorWhiteBold">
        <li><a href="#/logout" class="colorWhiteBold">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
