body{
	overflow-x: hidden;
	font-family: 'Inconsolata';
	background: #e6e6e6;
	padding-top: 15px;
}

#map{
	width: 100%;
	height: 500px;
}

.mapHolder{
	margin-top: 0px;
	padding: 20px;
}

.orderBtn{	
	background: #F6B800;
	font-weight: 600;
    border-radius: 0px;
    border: none;
    margin: 0 auto;
    width: 160px;
    display: block;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.costOfRide,.durationOfRide{
	font-size: 17px;
	font-weight: bold;
	color: #686868;
}

.costOfRide span,.durationOfRide span{
	font-weight: 100;
}

.fromToHolder{
	font-size: 16px;
	color: #000000
}

.fromToHolder span{
	font-weight: bold;
}

.fromSpan{
	color: #337ab7;
}

.toSpan{
	color: #337ab7;
}

.cancelBtn{
	border-radius: 0px;
    border: none;
    margin: 0 auto;
    width: 170px;
    display: block;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.syncRow{
	margin-top: 20px;
}

.blue{
	color: #337ab7;
}