
<h1 class="colorWhiteBold center marginfromTop">{{syncNotification}}</h1>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="colorWhiteBold center marginfromTop">Invoices</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table  invoiceTable">
				<tr>
					<th>Total earned</th>
					<th>Total charged</th>
				</tr>
				<tr>
					<td>{{total}} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></td>
					<td>{{charged}} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
      <h3 class="colorWhiteBold">All bookings</h3>
      <table class="table  invoiceTable">
        <tr>
          <th>Fee</th>
          <th>Destination</th>
        </tr>
        <tr ng-repeat="booking in bookings">
          <td>{{booking.fee}} <span class="glyphicon glyphicon-euro" aria-hidden="true"></td>
          <td>{{booking.destination}}</td>
        </tr>
      </table>
		</div>
	</div>
</div>



<div ng-if="yesPayment" class="default-message">
  <button id="submit-coord"  style="height:20px; width:100px;margin: -20px -50px; position:relative;top:50%; left:50%;" class="btn btn-success orderBtn" ng-click="pay()">Pay</button>
  </div>
