<div class="login">
    <h1>Login</h1>
    <form>
        <input type="text" name="username" placeholder="Username" required="required"  ng-model="username"/>
        <input type="password" name="password" placeholder="Password" required="required" ng-model="password"/>
        <button type="submit" class="btn btn-primary btn-block btn-large" ng-click="submit()">Let me in.</button>
    </form>
</div>