<div class="container">

<div ng-if="haveBooking">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 yellowText">
      <div class="panel panel-default">
        <div class="panel-heading">You have accepted booking</div>
        <div class="panel-body">
          <p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> {{bookingDestination}}</p>
          <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> {{bookingBeginning}}</p>
          <p>Fee: {{bookingFee}} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></p>
          <div class="btnBox">
            <button class="btn btn-default" type="submit" ng-click="finished()">Finish</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-if="haveRequest">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 yellowText">
      <div class="panel panel-default">
      <div class="panel-heading">You have waiting</div>
      <div class="panel-body">
        <p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> {{requestDestination}}</p>
        <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span> {{requestBeginning}}</p>
        <p>Fee: {{requestFee}} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></p>
        <div class="btnBox">
          <button class="btn" type="submit" ng-click="answer()">Accept</button>
          <button class="btn" type="cancel" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div ng-if="haveRequest == false" class="default-message">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 yellowText">
      You do not have any requests at this moment !
    </div>
  </div>
</div>

<div ng-if="requestCanceled == true" class="default-message">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 yellowText">
      <div class="alert alert-danger" role="alert">You request has been canceled !!!</div>
    </div>
  </div>
</div>

{{message? syncNotification:"" }}

</div>
