<div ng-if="haveBooking">
    <p class="bg-primary">You have waiting </p>
    booking is {{destination}}
    <br>
    fee is : {{fee}}
    <br>
    You need move your ass to
    {{fromLat}},
    {{fromLng}}
    <button class="btn btn-default" type="submit" ng-click="submit()">Accept</button>
    <button class="btn btn-default" type="cancel" ng-click="cancel()">Cancel</button>
</div>
    <hr>
    {{requestMessage}}
    <hr>

