<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="dropdown center">
			  <button  ng-disabled="disabled" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Currents status: {{driverStatus}}
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li ng-repeat="status in statusList">
			      <a ng-click="update(status)">{{status}}</a>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
</div>