html, body {
    margin: 0;
    padding: 0;
    background: White;
    color: DarkSlateGrey;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 10pt;
}
div#main {
    margin: 0;
    padding: 0 20px 20px;
}
a {
    background: transparent;
    color: maroon;
    text-decoration: underline;
    font-weight: bold;
}
h1 {
    color: maroon;
    font-size: 150%;
    font-style: italic;
    display: block;
    width: 100%;
    border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
    margin: 0 0 1em;
    padding: 10px;
    background-color: orange;
    color: white;
    border-bottom: 4px solid gold;
    font-size: 2em;
    font-style: normal;
}
#notice #warning {
    background: rosybrown;
    margin: 1em 0;
    padding: 4px;
}
form label {
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: maroon;
}
#filter {
    padding: 5px 20px;
}
#filter input[type=checkbox]{
    margin:0 0.84em 0 0;
}
#filter input[input]{
}
table#drivers {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid black;
}
table#drivers th {
    border: 2px solid white;
    font-weight: bold;
    background-color: wheat;
}
table#drivers th, table#drivers td {
    padding: 4px;
    text-align: left;
}
table#bookings {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid #000000;
}
table#bookings th {
    border: 2px solid white;
    font-weight: bold;
    background-color: #b6f5f0;
}
table#bookings th, table#drivers td {
    padding: 4px;
    text-align: left;
}
