%h1 Change data

= form_tag booking_path(@booking), :method => :put do

  = label :booking, :location, 'Location'
  = text_field :booking, 'location'

  = label :booking, :driver_id, 'Driver ID'
  = number_field :booking, 'driver_id'

  = label :booking, :status, 'Status'
  = select :booking, :status, ['Pending','Some other status', 'Another status']

  = submit_tag 'Update'

= link_to 'Back to bookings list', bookings_path