-#  This file is app/views/bookings/index.html.haml
%h1 Bookings

%table#bookings
  %thead
    %tr
      %th Location
      %th Driver ID
      %th Status
  %tbody
    - @booking.each do |booking|
      %tr
        %td= booking.location
        %td= booking.driver_id
        %td= booking.status
        %td= link_to "View details #{booking.driver_id}", booking_path(booking)
        %td= link_to "Update data #{booking.driver_id}", edit_booking_path(booking)