%h2 Details of driver with id #{@booking.driver_id} booking

%ul#details
  %li
    Location:
    = @booking.location

  %li
    Driver ID:
    = @booking.driver_id

  %li
    Current status:
    = @booking.status

= link_to 'Back to bookings list', bookings_path