%h1 Change data

= form_tag driver_path(@driver), :method => :put do

  = label :driver, :username, 'Username'
  = text_field :driver, 'username'

  = label :driver, :password, 'Password'
  = text_field :driver, 'password'

  = label :driver, :status, 'Status'
  = select :driver, :status, ['Available','Busy', 'Off-duty', 'Invisible']

  = submit_tag 'Update'

= link_to 'Back to drivers list', drivers_path