%h1 Drivers

%table#drivers

  %thead
    %tr
      %th Username
      %th Password
      %th Status
      %th Update details

  %tbody
    - @driver.each do |driver|
      %tr
        %td= driver.username
        %td= driver.password
        %td= driver.status
        %td= link_to "View details #{driver.username}", driver_path(driver)
        %td= link_to 'Update data', edit_driver_path(driver)

  -#select_tag :new_status, options_for_select(['1','2','3'])
  -#= button_to 'Update', {:controller => "drivers", :action => "update", :method => :post}