%h2 Details of #{@driver.username}

%ul#details
  %li
    Username:
    = @driver.username

  %li
    Password:
    = @driver.password

  %li
    Current status:
    = @driver.status

= link_to 'Back to drivers list', drivers_path