<div class="container">
	<div class="row">
		<div class="col-md-12 mapHolder">
			<div id="map"></div>
		</div>
	</div>



	<div class="row feeInfoHolder">
		<div class="col-md-6 col-md-offset-3">
			<div class="fromToHolder fromSpan"><span class=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></span> {{source}}</div>
			<div class="fromToHolder toSpan"><span class=""><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></span> {{destination}}</div>
			<div class="costOfRide">Cost of ride: <span>{{fee}} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span></div>
			<div class="durationOfRide">Duration of ride: <span>{{duration}} <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span></div>
		</div>
	</div>

	<form>
	  <input id="lat-input" type="hidden" placeholder="Latitude" ng-model="latitude"/>
	  <input id="lng-input" type="hidden" placeholder="Longitude" ng-model="longitude"/>
	  <input id="dest-input" type="hidden" placeholder="Destination" ng-model="destination"/>
	  <button id="submit-coord" class="btn btn-success orderBtn" ng-click="submit()">Order taxi</button>
	</form>
</div>
