<div class="container">
	<div class="row syncRow" ng-if="!noAvailable && !delivered">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
			<div class="alert alert-warning" role="alert">
				<div>Booking is being processed.</div>
				<div class="costOfRide blue">Estimated fee: <span>{{syncNotification}} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span></div>
			</div>
		</div>
	</div>

	<div class="row pusherNotification" ng-if="pusherTrue && !noAvailable && !delivered">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
			<div class="alert alert-info" role="alert">
				<div>Car is coming.</div>
				<div class="durationOfRide blue">Will be there in: <span>{{asyncNotification}} <span class="glyphicon glyphicon-time" aria-hidden="true"></span></span></div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="delivered">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
			<div class="alert alert-info" role="alert">
				<div class="durationOfRide blue">Thanks. Hope you enjoyed your trip<span> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span></div>
			</div>
		</div>
	</div>

	<div class="row" ng-if="noAvailable">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
			<div class="alert alert-warning" role="alert">
				<div class="durationOfRide blue">Sorry! There is no taxi available, try it later <span> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></div>
			</div>
		</div>
	</div>
</div>


<button ng-if="!pusherTrue && !noAvailable && !delivered" class="btn btn-danger cancelBtn" ng-click="cancel()">Cancel Your Booking</button>
<button ng-if="pusherTrue && !noAvailable && !delivered" class="btn btn-danger cancelBtn disabled" disabled ng-click="cancel()">Cancel Your Booking</button>
<button ng-if="delivered || noAvailable" class="btn btn-success cancelBtn" ng-click="back()">Go back</button>
<!-- disabled -->
<!-- delivered -->
<!-- noAvailable -->